.footer {
  height: 1rem!important
  line-height: 1rem!important
  padding: 20px!important
}

.hero img {
  padding-top: calc((100vh - 620.4px)/3)!important
  margin-left: auto!important
  margin-top: 0!important
  margin-bottom: 0!important
}

#main-title {
  line-height: 3rem  
}

.action {
  padding-bottom: calc((100vh - 620.4px)/3*2)!important
  margin-bottom: 0!important
}

@media screen and (max-width: 640px) {
  .hero img {
    padding-top: calc((100vh - 502.4px)/3)!important
  }
  .action {
    padding-bottom: calc((100vh - 502.4px)/3*2)!important
  }
  .can-hide {
    display:inline-block!important  
  }
  .navbar .nav-links {
    display: none!important
  }
}